* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: green;
  margin-top: 0.8rem;
  transform: scaleX(1);
  font-weight: bold;
}
h1 {
  padding: 0.5rem;
  background-color: green;
  color: white;
  font-size: 1.2rem;
  width: 100%;
}
p {
  color: green;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.7rem;
}
.box-container {
  margin: 5px auto;
  background-color: transparent;
  width: 200px;
  height: 250px;
  position: relative;
  background-color: yelow;
}

.container {
  display: grid;
  border-radius: 10px;
  background-color: red;
  width: 200px;
  height: 180px;
  margin-bottom: 10px;
  visibility: hidden;
  position: absolute;
}
.one {
  justify-content: center;
  align-content: center;
  visibility: visible;
}
.one .circle {
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
}

.two {
  justify-content: center;
  align-content: center;
  gap: 20px 0;
}
.two .circle {
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
}

.three {
  grid-template-columns: repeat(3, 50px);
  grid-auto-rows: 50px;
  justify-content: center;
  align-content: center;
  gap: 0.7rem 1rem;
}
.three .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}
.three .first {
  grid-column: 1/2;
}

.three .second {
  grid-column: 2/3;
  grid-row: 2/3;
}

.three .third {
  grid-column: 3/4;
  grid-row: 3/4;
}

.four {
  grid-template-columns: repeat(2, 50px);
  justify-content: center;
  align-content: center;
  gap: 30px 30px;
}

.four .circle {
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
}

.five {
  grid-template-columns: repeat(3, 50px);
  grid-auto-rows: 50px;
  justify-content: center;
  align-content: center;
}

.five .circle {
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
}

.five .first {
  grid-column: 1 /2;
}

.five .second {
  grid-column: 3 /4;
}

.five .third {
  grid-column: 2 /3;
  grid-row: 2/3;
}
.five .forth {
  grid-column: 1/2;
  grid-row: 3/4;
}

.five .fifth {
  grid-column: 3 /4;
  grid-row: 3/4;
}

.six {
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: 50px;
  justify-content: center;
  align-content: center;
  gap: 10px 20px;
}

.six .circle {
  border-radius: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
}
.shuffle-con {
  text-align: center;
}
.shuffle {
  padding: 1rem;
  color: white;
  border: none;
  background-color: green;
  border-radius: 10px;
  margin: auto;
}
.shuffle:hover {
  opacity: 0.7;
  transition: all 0.2s;
}
.shuffle:active {
  background-color: #3e8e41;

  transform: translateY(4px);
}
.second-dice {
  margin-top: 1rem;
}
.vs {
  text-align: center;
  margin: 0.5rem 0;
  background-color: green;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;
}
.circle {
  width: 40px;
  height: 40px;
}
@media (min-width: 900px) {
  .flex {
    display: flex;
  }
  .vs {
    margin-top: 0.8rem;
    width: 2rem;
    display: flex;
    height: 230px;
    align-items: center;
    justify-content: center;
  }
  .shuffle {
    margin: 2rem 0;
  }
}
